.App {
  text-align: center;
}

.wraper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 180px auto 180px;  */
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  max-width: 800px;
}

nav>button{
  margin: 30px 10px;
}